/* Eliminates unwanted white space in browser */
html, body {
    margin: 0; 
    padding: 0;
  }

/* HEADER */
.header-container {
    /* Set header height */
    height: 75px;
    /* Width to auto so it spans across screen */
    width: auto;
    /* Make it a flexbox or else children will vert stack instead of spanning*/
    display: flex;
    /* Anything in the header will use these properties if inheritance is in play */
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background: linear-gradient(180deg, rgb(243, 243, 243) 75%, rgba(255,255,255,1) 100%);
}

.header-child-logo, .header-child-buttons, .header-child-account {
    color: black;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* Flex is 1 by default for all header children */
    flex: 1;
}

.header-child-buttons {
    /* Flex is 3 so this spans more of the header than other children, overrides default flex value */
    flex: 3;
    font-size: 18px;
}

.header-container .header-logo-button {
    text-align: center;
    /* This button gets its own font size */
    font-size: 28px;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
}

/* MATERIAL ICONS */
.material-icons-outlined {
    color: black;
    background-color: transparent;
    border: none;
}

.material-icons-outlined.account-button {
    font-size: 36px;
}

.material-icons-outlined.info-button {
    font-size: 36px;
    margin: 25px;
}

/* BODY */
.body-title-row, .body-subtitle-row, .body-text-row, .body-icon-row, .footer-row {
    display: flex;
}

.body-title-container {
    display: flex;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 24px;
    justify-content: center;
    text-decoration: underline;
    margin: 50px;
}

.body-subtitle-container {
    display: flex;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    font-size: 18px;
    justify-content: center;
    margin: 15px;
}

.body-text-container {
    display: flex;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 14px;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-icon-container.material-icons-outlined.ad-button  {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 15px;
}

.row-spacer {
    width: auto;
    height: 50px;
}

/* SIGN UP */
.sign-up-row {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.sign-up-button {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 24px;
}

/* FOOTER */

.footer-row {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgb(243, 243, 243) 20%);
}

.footer-row-container {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 12px;
    margin: 25px;
    display: flex;
    justify-content: center;
    flex: 1;
}